# Load libraries

In [1]:
import pandas as pd
import numpy as np
import re

# Load dataset

In [2]:
# Replace 'your_file_name.xlsx' with the path to your uploaded Excel file
file_path = './GSAF5.xls'
# Read your file from the read function with pandas
shark_df = pd.read_excel(file_path)
#print(df)
shark_df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-03-10 00:00:00,2025.0,Unprovoked,Australia,WA,Duke of Orleans Bay,Surfing,Steven Jeffrey Payne,M,37,...,Great White Shark,Bob Myatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-03-07 00:00:00,2025.0,Unprovoked,Australia,NSW,Gunyah beach Bundeena Port Hacking,Swimming,Mangyong Zhang,F,56,...,Bull shark,Bob Myatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-02-27 00:00:00,2025.0,Unprovoked,Australia,Victoria,Nuns Beach near Portland,Swimming,Robbie Houlihan,M,40+,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,27-Feb-25,2025.0,Questionable,Philippines,Batangas Resort,Verde Island,SCUBA Diving,Illia Peregudin,M,29,...,Not stated,Stephen Parkhill Glen Folkard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-02-22 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Blasck Wall Reach Swan River Perth,Kayaking,Georgina Smith,F,35,...,Not stated,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Information About Dataset

In [3]:
#read last 5 row
shark_df.tail(5)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
7003,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7005,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7006,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7007,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [3]:
print(shark_df.info())       # check column types and nulls
print(shark_df.describe())   # for numeric summaries
print(shark_df.isna().sum()) # missing values per column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7008 entries, 0 to 7007
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7008 non-null   object
 1   Year            7006 non-null   float64
 2   Type            6990 non-null   object
 3   Country         6958 non-null   object
 4   State           6524 non-null   object
 5   Location        6442 non-null   object
 6   Activity        6423 non-null   object
 7   Name            6789 non-null   object
 8   Sex             6429 non-null   object
 9   Age             4014 non-null   object
 10  Injury          6973 non-null   object
 11  Fatal Y/N       6447 non-null   object
 12  Time            3482 non-null   object
 13  Species         3876 non-null   object
 14  Source          6989 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB
None
              Year  original order
count  7006.000000     6799.000000
mean   1935.221239     3401.152081
std     271.804930     1963.076319
min       0.000000        2.000000
25%    1947.000000     1701.500000
50%    1986.000000     3401.000000
75%    2009.000000     5100.500000
max    2026.000000     6802.000000
Date                 0
Year                 2
Type                18
Country             50
State              484
Location           566
Activity           585
Name               219
Sex                579
Age               2994
Injury              35
Fatal Y/N          561
Time              3526
Species           3132
Source              19
pdf                209
href formula       214
href               212
Case Number        210
Case Number.1      211
original order     209
Unnamed: 21       7007
Unnamed: 22       7006
dtype: int64

In [4]:
#Identifying the column names:
shark_df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [5]:
df_shark = shark_df.copy()

# Data cleaning

**Cleaning Instructions**

1- **Drop irrelavant columns:**

 'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'

2- **Rename to access column names easly**

3- **Standardize important fields:**

 - Date- converting datetime
 - Year-
 - Type-
 - Country-
 - State-
 - Location-
 - Activity- remove ... and make lover case
 - Name-
 - Sex- only use M, F , Unknown
 - Age- Clean and convert to int

4-**Drop empty rows or duplicate entries**

    #df.drop_duplicates(inplace=True)
    #df.dropna(subset=['date', 'type', 'country'], inplace=True)

5- **Save changes of the df in a new name in a file**

# 1- **Drop irrelavant columns:**

# 2- **Rename to access column names easly**

# 3- **Standardize important fields::**

In [19]:
def standardize_time_group (Time):
  if pd.isna(Time):
    return 'unknown'

  Time = str(Time).lower().strip()  # Normalize for comparison

  if 'morning' in Time or 'am' in Time:
      return 'morning'
  if 'afternoon' in Time or 'pm' in Time or 'midday' in Time:
      return 'afternoon'
  if 'dusk' in Time or 'evening' in Time:
      return 'evening'
  if 'night' in Time:
      return 'night'
  if ':' in Time or 'h' in Time:
      return 'exact'

  return 'unknown'

df_shark['Time'] = df_shark['Time'].apply(standardize_time_group)

In [20]:
def parse_exact_time(Time):
    if pd.isna(Time):
        return None

    value = str(Time).strip().lower()

    # Convert "15h" or "15h00" → "15:00"
    if 'h' in Time:
        Time = value.replace('h', ':')
        if re.match(r'^\d{1,2}:$', value):  # example: "15:" → "15:00"
            Time += '00'

    try:
        return datetime.strptime(Time, "%H:%M").time()
    except ValueError:
        return None

In [6]:
#Grouping the name of the Activity rows values
def standardize_activity(Activity):
    if pd.isna(Activity):
        return 'unknown'
    if 'surf' in Activity:
        return 'surfing'
    elif 'swim' in Activity:
        return 'swimming'
    elif 'diving' in Activity or 'dive' in Activity:
        return 'diving'
    elif 'fish' in Activity:
        return 'fishing'
    elif 'kayak' in Activity or 'canoe' in Activity:
        return 'kayaking'
    elif 'stand-up paddle' in Activity or 'paddle' in Activity:
        return 'paddleboarding'
    elif 'snorkel' in Activity:
        return 'snorkeling'
    elif 'boat' in Activity or 'sail' in Activity:
        return 'boating'
    elif 'wading' in Activity:
        return 'wading'
    elif 'walking' in Activity or 'standing' in Activity:
        return 'walking/standing'
    else:
        return 'other'

In [7]:
def clean_age(Age):
       # Convert to string and lowercase
    Age = str(Age).lower().strip()
    # Direct numbers
    if Age.isdigit():
        return float(Age)
    # Extract numbers like "35 years", "~27", "30s", "18 months", "20-25"
    match = re.search(r'\d{1,3}', Age) #regex
    if match:
        return float(match.group())
    # Handle text-based age categories
    if 'teen' in Age:
        return 15.0
    elif 'month'in Age:
        return 1.0
    elif 'baby' in Age or 'infant' in Age:
        return 1.0
    elif 'toddler' in Age:
        return 2.0
    elif 'child' in Age:
        return 8.0
    elif 'middle' in Age:
        return 45.0
    elif 'adult' in Age:
        return 30.0
    elif 'young' in Age:
        return 20.0
    elif 'elderly' in Age or 'senior' in Age:
        return 70.0
    elif '?' in Age:
        return None
    return None  # fallback if we can’t parse it

In [8]:
def clean_dataset(df: pd.DataFrame) -> pd.DataFrame:

  df2 = df.copy()

  #Drop unnecessary column
  df2 = df2.drop(columns=['Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'])

  # Remove leading/trailing white spaces from column names
  df2.columns = df2.columns.str.strip()

  # Delete 'Y/N' from 'Fatal ', deleting part of a column name
  df2.columns = df2.columns.str.replace('Y/N', '')

  df2['Sex'] = df2['Sex'].fillna('unknown').replace({'F ': 'F',
                                                     'M ': 'M' ,
                                                     ' M': 'M' ,
                                                     'lli': 'unknown',
                                                     'M x 2': 'M',
                                                     'N': 'unknown',
                                                     '.': 'unknown'})

  df2['Sex'] = df2['Sex'].replace(np.nan, 'unknown')

  #Activitiy function calling
  df2['Activity'] = df2['Activity'].apply(standardize_activity)

  #Lowercase all the rows in standart
  df2['Activity']=df2['Activity'].str.lower().str.strip()

  # Fixing "age"
  df2['Age'] = pd.to_numeric(df2['Age'], errors='coerce')
  df2 = df2.dropna(subset=['Age'])

  df2['Age'] = df2['Age'].apply(clean_age)
  #df2.rename(columns= {'age_cleaned': 'Age'}, inplace=True)

  #Location fillna
  df_shark['Location']=df_shark['Location'].fillna('unknown')

  #Dropping nan values for Country
  df2=df2.dropna(subset=['Country'])

  #Fillna unknown Injury nan values
  df2['Injury']=df2['Injury'].fillna('unknown')

  # Remove leading/trailing white spaces from column names
  df2.columns = df2.columns.str.strip()

  #Standardized Fatal row values
  # Step 1: Remove leading/trailing spaces and make uppercase
  df2['Fatal'] = df2['Fatal'].str.strip().str.upper()

  valid_values = ['Y', 'N']

  df2['Fatal'] = df2['Fatal'].apply(lambda x: x if x in valid_values else 'unknown')

  #DateTime format standardized
  df2['Date']=pd.to_datetime(df2['Date'], errors ='coerce')
  #If it's already datetime (with NaT):
  df2['Date'] = df2['Date'].fillna(pd.Timestamp('1900-01-01'))  # a clear placeholder

  #Year format numerical only
  df2['Year'] = pd.to_numeric(df2['Year'], errors='coerce')

  #Standardized Type row values
  valid_value_type= ['Unprovoked', 'Questionable', 'Provoked', 'Watercraft', 'Sea Disaster','Under investigation']

  df_shark['Type']=df_shark['Type'].apply(lambda x: x if x in valid_value_type else 'unknown')

  return df2

In [9]:
clean_dataset(df_shark)
df_shark= clean_dataset(df_shark)

In [10]:
df_shark.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species'],
      dtype='object')

In [12]:
print(df_shark['Activity'].value_counts())

Activity
other               2945
fishing              353
diving               193
surfing              149
unknown              147
boating               29
swimming              23
kayaking               9
walking/standing       8
snorkeling             5
wading                 2
paddleboarding         1
Name: count, dtype: int64

In [23]:
#Change column name to see unique row values for each columns> clean accordingly
df_shark.Date.unique()

<DatetimeArray>
[          '2025-03-10 00:00:00',           '2025-03-07 00:00:00',
           '2025-02-27 00:00:00',           '2025-02-22 00:00:00',
           '2025-02-10 00:00:00',           '2025-02-07 00:00:00',
           '2025-02-03 00:00:00',           '2025-01-23 00:00:00',
           '2025-01-22 00:00:00',           '2025-01-03 00:00:00',
 ...
           '1952-07-28 00:00:00',           '1848-08-31 00:00:00',
           '1847-07-19 00:00:00',           '1842-07-13 00:00:00',
           '1837-01-17 00:00:00',           '1830-07-26 00:00:00',
           '1828-09-28 00:00:00',           '1817-05-11 00:00:00',
 '1970-01-01 00:00:00.000001749',           '1703-03-26 00:00:00']
Length: 3316, dtype: datetime64[ns]

In [29]:
# # Step 1: Remove leading/trailing spaces and make uppercase
# df_shark['Fatal'] = df_shark['Fatal'].str.strip().str.upper()
df_shark['Date']

0      2025-03-10
1      2025-03-07
3      2025-02-27
4      2025-02-22
5      2025-02-22
          ...
6948   1900-01-01
6949   1900-01-01
6960   1900-01-01
6982   1900-01-01
7007   1900-01-01
Name: Date, Length: 3864, dtype: datetime64[ns]

In [13]:
df_shark.Type.unique()

array(['Unprovoked', 'Questionable', 'Provoked', 'Watercraft',
       'Sea Disaster', '?', nan, 'Invalid', 'Under investigation'],
      dtype=object)

In [22]:
# #Standardized Fatal row values
# valid_values = ['Y', 'N']

# df_shark['Fatal'] = df_shark['Fatal'].apply(lambda x: x if x in valid_values else 'unknown')

In [17]:
df_shark.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species
0,2025-03-10,2025.0,Unprovoked,Australia,WA,Duke of Orleans Bay,other,Steven Jeffrey Payne,M,37.0,Missing body not recovered,Y,1210 hrs,Great White Shark
1,2025-03-07,2025.0,Unprovoked,Australia,NSW,Gunyah beach Bundeena Port Hacking,other,Mangyong Zhang,F,56.0,Serious lacerations above right knee.,N,1340hrs,Bull shark
3,2025-02-27,2025.0,Questionable,Philippines,Batangas Resort,Verde Island,other,Illia Peregudin,M,29.0,both arms severed by sharks after drowning,Y,1300hrs,Not stated
4,2025-02-22,2025.0,Unprovoked,Australia,Western Australia,Blasck Wall Reach Swan River Perth,other,Georgina Smith,F,35.0,None kayak badly damaged by shark,N,0815hrs,Not stated
5,2025-02-22,2025.0,Questionable,Australia,NSW,Off Port Stephens near Newcastle,boating,Paul Barning,M,58.0,Body not recovered,Y,1300hrs,Mako shark

In [18]:
# df_shark.rename(columns= {'date_cleaned' : 'Dates'})
# #Year format numerical only
# df_shark['Year'] = pd.to_numeric(df_shark['Year'], errors='coerce')

# Analysis

In [30]:
#1- Count attacks by country
country_counts = df_shark['Country'].value_counts()
print(country_counts.head(10))  # top 10

Country
USA                 1698
AUSTRALIA            803
SOUTH AFRICA         370
BAHAMAS               85
BRAZIL                73
NEW ZEALAND           61
MEXICO                51
PAPUA NEW GUINEA      46
REUNION               35
FIJI                  33
Name: count, dtype: int64

1- Structure the data to make it suitable for analysis. This can involve creating new fields, grouping data, or creating pivot tables.
2- Use aggregation and filtering techniques to further refine the dataset and to start drawing conclusions about your hypotheses.

TypeError: agg function failed [how->mean,dtype->object]

In [38]:
#Filter the only fatal incidince
df_fatal = df_shark[df_shark['Fatal'] == 'Y']
df_fatal_by_country = df_fatal['Country'].value_counts().reset_index()
df_fatal_by_country.columns = ['Country', 'fatal_attack_count']
df_fatal_by_country.head(10)

            Country  fatal_attack_count
0         AUSTRALIA                 197
1               USA                  89
2      SOUTH AFRICA                  75
3  PAPUA NEW GUINEA                  21
4            MEXICO                  20
5            BRAZIL                  20
6       NEW ZEALAND                  14
7           REUNION                  14
8     NEW CALEDONIA                  13
9         HONG KONG                  11

In [ ]:
#Pivot table from country index,column=

#2- What is the most dangerous activity and by country

In [46]:
df_shark["Activity"].value_counts()

Activity
other               2945
fishing              353
diving               193
surfing              149
unknown              147
boating               29
swimming              23
kayaking               9
walking/standing       8
snorkeling             5
wading                 2
paddleboarding         1
Name: count, dtype: int64

# - Activity. by Country attack

In [70]:
# Remove rows where activity is labeled as "other"
df_cleaned = df_shark[df_shark['Activity'] != 'other']
df_grouped = df_cleaned.groupby(['Country', 'Activity']).size().reset_index(name='attack_count').sort_values(by='attack_count', ascending=False)
df_grouped.head()

       Country Activity  attack_count
169        USA  fishing            85
173        USA  surfing            76
7    AUSTRALIA  fishing            76
168        USA   diving            64
175        USA  unknown            59

In [76]:
df_filtered = df_shark[(df_shark['Fatal'] == 'Y') & (df_shark['Activity'] != 'other')]

df_country_activity_fatal = (
    df_filtered.groupby(['Country', 'Activity'])
    .size()
    .reset_index(name='fatal_attack_count').sort_values(by='fatal_attack_count', ascending=False)
)
df_country_activity_fatal

                 Country  Activity  fatal_attack_count
2              AUSTRALIA    diving                  19
4              AUSTRALIA   surfing                   9
3              AUSTRALIA   fishing                   9
49      PAPUA NEW GUINEA   fishing                   8
73                   USA    diving                   8
..                   ...       ...                 ...
69                 SPAIN   unknown                   1
67  SOUTH ATLANTIC OCEAN    diving                   1
75                   USA  kayaking                   1
76                   USA   surfing                   1
80                YEMEN    boating                   1

[81 rows x 3 columns]